<main class="py-5 px-10 bg-slate-950 min-h-screen">
  <app-header />

  <h1 class="text-white text-center font-bold text-5xl mt-6 mb-14">How's the sky looking today?</h1>

  <app-search-bar />

  @if (store.locationQuery().length > 0 && !store.selectedLocation()) {
  <h2 class="text-center mt-10 font-bold text-white text-2xl">No search results found!</h2>
  } @if (store.selectedLocation()) {
  <div class="flex flex-col xl:flex-row items gap-6 mt-14">
    <div class="w-full xl:w-4/5">
      <app-weather-card />
    </div>

    <div class="w-full xl:w-2/5">
      <app-hourly-forecast-card />
    </div>
  </div>
  }
</main>
