<main class="min-h-screen bg-slate-950 px-10 py-5">
  @let hasError = store.hasGeocodingError() || store.hasForecastError();

  <app-header />

  @if (hasError) {
    <app-page-error />
  }

  @if (!hasError) {
    <h1 class="mt-6 mb-14 text-center text-5xl font-bold text-white">
      How's the sky looking today?
    </h1>

    <app-search-bar />

    @if (view.showNoResultsMessage()) {
      <h2 class="mt-10 text-center text-2xl font-bold text-white">No search results found!</h2>
    }

    @if (store.selectedLocation(); as location) {
      <section class="mt-14 grid gap-6 xl:grid-cols-[2fr_1fr]">
        <div class="flex flex-col gap-6">
          <app-weather-card />
          <app-highlights />
          <app-daily-forecast />
        </div>

        <div class="w-full">
          <app-hourly-forecast />
        </div>
      </section>
    }
  }
</main>
