<div class="block max-w-sm rounded-base bg-slate-800 p-6 shadow-xs">
  @let days = [1, 2, 3, 4, 5, 6, 7];
  @let forecast = view.hourlyForecast();
  @let isLoading = store.isForecasting();
  @let selectedDay = store.selectedForecastDay();

  <div class="mb-5 flex items-center justify-between">
    <h5 class="text-lg font-semibold tracking-tight text-white">Hourly Forecast</h5>

    <div class="relative" id="hourly-dropdown">
      <button
        id="hourlyDropdownButton"
        data-dropdown-toggle="hourlyDropdownMenu"
        data-dropdown-trigger="click"
        data-dropdown-placement="bottom-end"
        class="flex items-center gap-2 rounded-lg border border-slate-600 bg-slate-700 px-3 py-2 text-sm font-medium text-white transition-all duration-200 hover:bg-slate-600 focus:outline-none focus:ring-4 focus:ring-white/20"
        type="button"
      >
        <span>{{ view.getDayName(selectedDay) }}</span>
        <img src="images/icon-dropdown.svg" alt="Dropdown" />
      </button>

      <div
        id="hourlyDropdownMenu"
        class="absolute right-0 top-full z-50 mt-1 hidden w-36 rounded-lg border border-slate-700 bg-slate-800 shadow-xl"
      >
        <ul class="p-2 text-sm text-white" aria-labelledby="hourlyDropdownButton">
          @for (day of days; track day) {
            <li>
              <button
                class="w-full rounded px-3 py-2 text-left text-sm font-medium transition-colors hover:bg-slate-700"
                role="menuitem"
                (click)="store.setSelectedForecastDay(day)"
              >
                {{ view.getDayName(day) }}
              </button>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>

  @if (isLoading) {
    <div class="space-y-3">
      @for (item of days; track item) {
        <div class="flex items-center justify-between rounded-md bg-slate-700 px-4 py-3">
          <div class="flex items-center gap-4">
            <div class="h-8 w-8 animate-pulse rounded-full bg-slate-600"></div>
            <div class="h-6 w-16 animate-pulse rounded bg-slate-600"></div>
          </div>

          <div class="h-6 w-12 animate-pulse rounded bg-slate-600"></div>
        </div>
      }
    </div>
  }

  @if (!isLoading) {
    <div class="space-y-3">
      @for (hour of forecast; track hour.time) {
        <div class="flex items-center justify-between rounded-md bg-slate-700 px-4 py-3">
          <div class="flex items-center gap-4">
            <img
              [src]="view.getWeatherIcon(hour.weathercode)"
              [alt]="hour.weathercode"
              class="h-8 w-8"
            />

            <div class="text-lg font-bold text-white">{{ hour.displayTime }}</div>
          </div>
          
          <div class="text-md font-normal text-white">{{ hour.temperature }}°</div>
        </div>
      }
    </div>
  }
</div>
